body{
	background-color: orange;

}
.border{
	/*padding-left: 50px;
	padding-right:50px;
	padding-top:45px;
	padding-bottom: 45px; */

	border: dashed 5px black;
	padding: 40px 50px ;
	margin:100px; 
	font-family: tahoma;
	outline-style: groove;
	outline-width: 12px;
	outline-color: blue;
	text-align: justify;

}
.RA{ 
text-align: right; }
.LA{
	text-align: left;
}
.CA{
	text-align: center;
}