.d1{
    position: absolute;
    top:0px;
    height: 100px;
}
.d2{
    position: absolute;
    top:100px;
    width:100%;
}
ul{
    padding:0px;
    list-style-type: none;
    text-align: center;
    width:100%;
    position: sticky;

}
ul li {
    background-color: aqua;
    display: inline-block;
    width:calc(25% - 8px);
    border-radius: 20px;
    height: 30px;
    float: left;
    border: solid 2px;
    box-shadow: 5px 5px 2px green;
    
}
a{
    text-decoration: none;
    position: relative;
    color:white;
}
ul li ul li {
    display: none;
    color:white;
    transition: 0.8s linear;
    position: relative;
    width:100%;
    top:15px;
}
ul li:hover ul li{
    display: block;
}