/*p.demo{
	background-color: red;
	color:white;
}
div.demo{
	background-color:blue;
	color:red;
}
body{
	background-image: url(photo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 500px;
	background-position: center;
	background-color: black;
}*/
/*div > p.demo{
	background-color: yellow;
}*/
/*div.divstyle + p {
	background-color: yellow;
}*/
/*p.demo + p.myclass {
	background-color: yellow;
}*/
/*p[class$="o"]
{
	background-color: blue;
}*/
.tbldesign{
	border: solid 5px red;
	/*border-collapse: collapse;*/
	width: 100%;
}
table tr td
{
	text-align: center;
}
table tr:nth-child(even)
{
	background-color: #ddd;
}
table tr:nth-child(odd)
{
	background-color: #777;
}
table tr td:hover
{
	background-color: yellow;
	font-size: 20px;
}